section.banner
  //- wrapper
  .banner__bg
    //- либо img, либо background-image
    img(src="./img/banner.png", alt="")
  .banner__content
    span.banner__price From $80.00
    span.banner__title Nike Air Max
    span.banner__subtitle 50 Variants
    p.text.banner__description Since this is our favorite sneaker, we’re bringing you 50 variants to suit everyone’s needs.
    a.button.banner__button(href="#") Browse variants