.banner
  background-color: #f0efee
  display: flex
  padding: 132px 0

  &__bg
    width: 50%

  &__content
    width: 50%
    span
      display: block

  &__price
    font-size: 30px
    color: #623232

  &__title
    font-size: 70px
    color: #623232
    font-weight: 900

  &__subtitle
    font-size: 50px
    color: #ff7373
    font-weight: 900

  &__description
    // main.text +
    max-width: 420px

  &__button
    // main.button +
    padding: 18px 46px
    color: #ffffff
    background-color: #ff7373