section.feedback
  .content-wrapper
    .customer__list
      .customer(tabindex="0")
        img.customer__pic(src="/img/cust-1.jpg", alt="")
        span.customer__name Christopher Atkins
        .customer__rating.customer__rating--5
      .customer.customer--active(tabindex="0")
        img.customer__pic(src="/img/cust-2.jpg", alt="")
        span.customer__name Andrew Ferraccioli
        .customer__rating.customer__rating--4
      .customer(tabindex="0")
        img.customer__pic(src="/img/cust-3.jpg", alt="")
        span.customer__name Sandra Jensen
        .customer__rating.customer__rating--3
    .review__list
      p.review.review--1 “At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.”
      p.review.review--2.review--active “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.”
      p.review.review--3 ”Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.”