footer.page-footer
  section.help
    .content-wrapper
      .help__text-wrapper
        span.help__text Looking for help?
        span.help__description Have any questions or need help with order? Let us know!
      button.button.help__button Make an inquiry
  section.advantages.content-wrapper
    ul.advantages__list
      li.advantages__item
        svg
          use(xlink:href="#ship")
        p Free Shipping <br>in Europe
      li.advantages__item 
        svg
          use(xlink:href="#money")
        p Money Back Guarantee
      li.advantages__item 
        svg
          use(xlink:href="#support")
        p 24/7 Customer Support
      li.advantages__item 
        svg
          use(xlink:href="#price")
        p Lowest Prices Guaranteed
      li.advantages__item 
        svg
          use(xlink:href="#exclusive")
        p Exclusive Items for Sportshold
      li.advantages__item 
        svg
          use(xlink:href="#delivery")
        p 5-Day Delivery <br>in Europe
  section.real-footer.content-wrapper
    .logo.real-footer__logo
      img(src="./img/logo.png", alt="")
    p.real-footer__copyright © 2017 Sportshold. All rights reserved.
    .real-footer__soc.soc
      ul.soc__list
        li.soc__item
          a.soc__link.soc__link--tw(href="#")
            svg
              use(xlink:href="#soc-tw")
            span Twitter
        li.soc__item
          a.soc__link.soc__link--fb(href="#")
            svg
              use(xlink:href="#soc-fb")
            span Facebook
        li.soc__item
          a.soc__link.soc__link--pi(href="#")
            svg
              use(xlink:href="#soc-pi")
            span Pinterest
        li.soc__item
          a.soc__link.soc__link--yt(href="#")
            svg
              use(xlink:href="#soc-yt")
            span YouTube
      