section.promo.content-wrapper
  .promo__wrapper
    .promo-1
      .promo-1__wrapper
        span.promo__description.promo-1__description Discover the new
        span.promo__title.promo-1__title Nike Kyrie 3
      a.button.promo__button.promo-1__button(href="#") View collection
    .promo-2
      span.promo__description.promo-2__description Check out the
      span.promo__title.promo-2__title New arriwals
      a.button.promo__button.promo-2__button(href="#") Discover
    .promo-3
      span.promo__description.promo-3__description Best for
      span.promo__title.promo-3__title Athletes
    .promo-4
      span.promo__description.promo-4__description Feel
      span.promo__title.promo-4__title Premium