section.shop.content-wrapper
  .filter
    button.button.filter__button.filter__button--active New
    button.button.filter__button Popular
    button.button.filter__button Top Picks
  include goods
  .brands
    ul.brands__list
      li.brands__item
        img(src="/img/brands/adidas.png", alt="adidas")
      li.brands__item
        img(src="/img/brands/nike.png", alt="nike")
      li.brands__item
        img(src="/img/brands/puma.png", alt="puma")
      li.brands__item
        img(src="/img/brands/asics.png", alt="asics")
      li.brands__item
        img(src="/img/brands/nb.png", alt="new balance")
      li.brands__item
        img(src="/img/brands/fila.png", alt="fila")