html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=1110px, maximum-scale=1")
    title SportsHold
    // build:css
    link(rel="stylesheet", href="/css/main.css")
    link(rel="stylesheet", href="/css/blocks/header.css")
    link(rel="stylesheet", href="/css/blocks/banner.css")
    link(rel="stylesheet", href="/css/blocks/promo.css")
    link(rel="stylesheet", href="/css/blocks/shop.css")
    // endbuild
  body
    //- svg(style={display: 'none'})
    //-   include ../build/img/sprite.svg
    include blocks/header
    include blocks/main
    